* { box-sizing: border-box;}



h1{
    color: blue;
    font-size: 75px;
}
p{
    color: #F54927;
    font-size: 20px;
}
a{
    color: blueviolet;
}
.section{
    padding: 40px;
    margin:  10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}