* { box-sizing: border-box;}



h1{
    color: blue;
    font-size: 45px;
}
p{
    color: #F54927;
    font-size: 20px;
}
a{
    color: #3498db;
    transition:  color 0.3s ease;
}
a:hover{
  color: #2980b9; 
}

.section{
    padding: 40px;
    margin:  10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color:  #333;
    line-height: 1.6;
}

header{
    background-color: #2c3e50;
    color: white;
    padding: 30px;
}
footer{
    background-color: #2c3e50;
    color: white;
    padding:  20px;
    text-align: center;
}

.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
}

img{
    max-width:  15%;
    height: auto;
    border-radius:  10px;
    box-shadow: 0 4px 6px rgb(0, 0, 0),0.1;
}

@media (max-width: 600px) {

  body {
    padding: 10px;
  }

  header {
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

}